{% block product %}
    <div class='product m-3' style='{{ "background-image: url(" ~ asset("images/products/" ~ product.imageUrl) ~ ")" }}'
         id="{{ product.id }}">
        <div class="title pull-left">
            {{ product.name }}
        </div>
        <button
                onClick="putProductToCart({{ product.id }}, '{{ url('cart') }}');"
                class="btn btn-dark add-to-cart pull-right">
            <span>{{ product.price|format_currency('EUR') }}/{{ product.price|price('USD')|format_currency('USD') }}</span>
        </button>
    </div>
{% endblock %}