{% block header %}
<header class="header">
    <div class='header-container'>
        <a href='#' class='navbar-brand ml-5 logo' onclick="request('GET', '{{ url('get_pizza_list') }}');">
            <img src="{{ asset('images/menu/logo.png') }}" alt=''/>
        </a>
        <div class='menu'>
            <nav class='ml-auto'>
                <ul>
                    <li class='mr-4'>
                        <span id="productInCartCount" onload="updateProductInCartCount();"></span>
                        <a href="#" class='a' onclick="request('GET', '{{ url('cart') }}');">
                            <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class='mr-4'>
                        <a href="{{ url('app_login') }}" class='a' {#onclick="request('GET', '{{ url('app_login') }}');"#}>
                            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endblock %}