{% block orderHistoryItem %}
    <div class='cart-product ml-3 mr-3' id="{{ orderHistoryItem.id }}">
        <div class="title mr-auto ml-auto">
            <span>Number of order: {{ orderHistoryItem.id }}</span>
        </div>
        <div class="count mr-auto ml-auto">
            <span>Ordered at: {{ orderHistoryItem.orderedAt|date('m/d/Y H:i:s') }}</span>
        </div>
        <div class="count mr-auto ml-auto">
            <span>Order total price: {{ orderHistoryItem.orderPrice|format_currency('EUR') }}/{{ orderHistoryItem.orderPrice|price('USD')|format_currency('USD') }}</span>
        </div>
    </div>
{% endblock %}